PyCity Analysis

Observation 1:

An analysis was conducted by comparing the math and reading scores of students at district schools versus charter schools. Student scores and the funds allocated for each student were used for the comparsion. Once compiling the data, a clear difference jumped out between the charter schools and the district schools. When we review the average math score and average reading score, charter scores outperformed the district schools. There was a 36 point difference in overall passing score with charter schools having an overall passing of 90.43% and district schools having an overall passing score of 53.67%.

Observation 2 and 3:

Another observation made that could impact the difference in scores is the number of students at each school. Charter schools had students under 1500 while district schools had over 2000 students. Resources and attention from teachers are more difficult when they have more students. Students who need additional help can end up not being seen due to the sheer number of students. Charter school students are able to be in smaller classes and have more 1 on 1 attention from students. 
Another observation that can be made is the amount of money spent for each student based on the type of school. The better performing schools are spending more per student than the bottom performing students. While it can be difficult to make a direct tie due to how the money is allocated, the data would indicate that there is a connection between money set aside for resources for the students and how well they perform.

In [ ]:
#Import pandas

In [2]:
import pandas as pd

In [26]:
#Load data into dataframes

In [27]:
#District Summary
schools_df = pd.read_csv(r'C:\Users\Rebecca Balderas\Desktop\unc\projects\pandas_challenge\Resources\schools_complete.csv')
students_df = pd.read_csv(r'C:\Users\Rebecca Balderas\Desktop\unc\projects\pandas_challenge\Resources\students_complete.csv')

In [47]:
#School Summary
school_summary_df = pd.merge(students_df, schools_df, on='school_name')
school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),School Size
school_name,,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630,Large (2000-5000)
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585,Medium (1000-2000)
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645,Large (2000-5000)
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645,Large (2000-5000)
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630,Medium (1000-2000)

In [55]:
#First District Summary
total_schools = schools_df['school_name'].nunique()
total_students = students_df['student_name'].count()
total_budget = schools_df['budget'].sum()
average_math_score = students_df['math_score'].mean()
average_reading_score = students_df['reading_score'].mean()
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208

In [30]:
passing_math = students_df[students_df['math_score'] >= 70]
passing_math_percentage = (passing_math['student_name'].count() / total_students) * 100

In [31]:
passing_reading = students_df[students_df['reading_score'] >= 70]
passing_reading_percentage = (passing_reading['student_name'].count() / total_students) * 100

In [32]:
overall_passing = students_df[(students_df['math_score'] >= 70) & (students_df['reading_score'] >= 70)]
overall_passing_percentage = (overall_passing['student_name'].count() / total_students) * 100

In [9]:
district_summary_df = pd.DataFrame({
    'Total Schools': [total_schools],
    'Total Students': [total_students],
    'Total Budget': [total_budget],
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score],
    '% Passing Math': [passing_math_percentage],
    '% Passing Reading': [passing_reading_percentage],
    '% Overall Passing': [overall_passing_percentage]
})

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,10,1000,1000000,80,85,75,80,70

In [11]:
# School Summary
school_summary_grouped = school_summary_df.groupby('school_name')
school_types = schools_df.set_index('school_name')['type']
total_students_school = school_summary_grouped['student_name'].count()
total_budget_school = schools_df.set_index('school_name')['budget']
per_student_budget = total_budget_school / total_students_school
average_math_score_school = school_summary_grouped['math_score'].mean()
average_reading_score_school = school_summary_grouped['reading_score'].mean()

NameError: name 'school_summary_df' is not defined

In [35]:
passing_math_school = school_summary_df[school_summary_df['math_score'] >= 70].groupby('school_name')['student_name'].count()
passing_math_percentage_school = (passing_math_school / total_students_school) * 100

In [36]:
passing_reading_school = school_summary_df[school_summary_df['reading_score'] >= 70].groupby('school_name')['student_name'].count()
passing_reading_percentage_school = (passing_reading_school / total_students_school) * 100

In [37]:
overall_passing_school = school_summary_df[(school_summary_df['math_score'] >= 70) & (school_summary_df['reading_score'] >= 70)].groupby('school_name')['student_name'].count()
overall_passing_percentage_school = (overall_passing_school / total_students_school) * 100

In [1]:
school_summary = pd.DataFrame({
    'School Type': school_types, 
    'Total Students': total_students_school,
    'Total School Budget': total_budget_school, 
    'Per Student Budget': per_student_budget, 
    'Average Math Score': average_math_score_school,
    'Average Reading Score': average_reading_score_school,
    '% Passing Math': passing_math_percentage_school,
    '% Passing Reading': passing_reading_percentage_school,
    '% Overall Passing': overall_passing_percentage_school})
type_summary

NameError: name 'pd' is not defined

In [39]:
#Highest performing schools - by %
top_schools = school_summary.sort_values('% Overall Passing', ascending=False).head(5)

In [40]:
#Lowest performing schools - by %
bottom_schools = school_summary.sort_values('% Overall Passing').head(5)

In [41]:
#Math scores by grade
math_scores_grade = pd.pivot_table(students_df, values='math_score', index='school_name', columns='grade')

In [42]:
#Reading scores by grade
reading_scores_grade = pd.pivot_table(students_df, values='reading_score', index='school_name', columns='grade')

In [51]:
#Scores based on School Spending
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]
school_summary['Spending Ranges (Per Student)'] = pd.cut(school_summary['Per Student Budget'], bins=spending_bins, labels=labels)
spending_math_scores = school_summary.groupby('Spending Ranges (Per Student)')['Average Math Score'].mean()
spending_reading_scores = school_summary.groupby('Spending Ranges (Per Student)')['Average Reading Score'].mean()
spending_passing_math = school_summary.groupby('Spending Ranges (Per Student)')['% Passing Math'].mean()
spending_passing_reading = school_summary.groupby('Spending Ranges (Per Student)')['% Passing Reading'].mean()
overall_passing_spending = school_summary.groupby('Spending Ranges (Per Student)')['% Overall Passing'].mean()

type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208

In [54]:
spending_summary = pd.DataFrame({
    'Average Math Score': spending_math_scores,
    'Average Reading Score': spending_reading_scores,
    '% Passing Math': spending_passing_math,
    '% Passing Reading': spending_passing_reading,
    '% Overall Passing': overall_passing_spending})
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208

In [53]:
#Scores by School size
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
school_summary['School Size'] = pd.cut(school_summary['Total Students'], bins=size_bins, labels=labels)
size_math_scores = school_summary.groupby('School Size')['Average Math Score'].mean()
size_reading_scores = school_summary.groupby('School Size')['Average Reading Score'].mean()
size_passing_math = school_summary.groupby('School Size')['% Passing Math'].mean()
size_passing_reading = school_summary.groupby('School Size')['% Passing Reading'].mean()
overall_passing_size = school_summary.groupby('School Size')['% Overall Passing'].mean()

size_summary = pd.DataFrame({
    'Average Math Score': size_math_scores,
    'Average Reading Score': size_reading_scores,
    '% Passing Math': size_passing_math,
    '% Passing Reading': size_passing_reading,
    '% Overall Passing': overall_passing_size})
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208

In [52]:
#Scores by School type
type_math_scores = school_summary.groupby('School Type')['Average Math Score'].mean()
type_reading_scores = school_summary.groupby('School Type')['Average Reading Score'].mean()
type_passing_math = school_summary.groupby('School Type')['% Passing Math'].mean()
type_passing_reading = school_summary.groupby('School Type')['% Passing Reading'].mean()
type_overall_passing = school_summary.groupby('School Type')['% Overall Passing'].mean()

type_summary = pd.DataFrame({
    'Average Math Score': type_math_scores,
    'Average Reading Score': type_reading_scores,
    '% Passing Math': type_passing_math,
    '% Passing Reading': type_passing_reading,
    '% Overall Passing': type_overall_passing})
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208